body {
    font-family: Consolas, monospace;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
.container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 50px; /* Add padding at the bottom */

}
.about-title {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 0.5em;
}
.about-text {
    font-style: italic;
    font-size: 1.2em;
}
.email {
    color: black;
    font-family: "Courier New", Courier, monospace;
}
img {
    max-width: 100%;
    height: auto;
}
.section {
    margin-top: 1em;
}
.section-title {
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    position: relative; /* Set position to relative */
    padding-left: 1.2em; /* Adjust the padding to make space for the arrow */
}

.section-title::after {
    content: ' ▼';
    font-size: 0.8em;
    position: absolute;
    left: 0; /* Position the arrow at the beginning of the text */
    top: 0;
}
.section-content {
    display: none;
    font-style: italic;
    padding-left: 1em;
    margin-top: 0.5em;
}

.section.open .section-content {
    display: block;
}
.section.open .section-title::after {
    content: '▲';
}

/* Add these styles */
.topic {
    padding-left: 2em; /* Slight indentation for topics */
    margin-top: 0.5em;
}

.content {
    padding-left: 4em; /* More indentation for content */
    text-indent: 0; /* Ensure no first-line indentation */
    margin-top: 0.5em;
}
.connect-block {
    position: fixed;      /*Fixed position at the bottom right */
    bottom: 50px;         /* Distance from the bottom */
    right: 50px;          /* Distance from the right */
    color: grey;          /* Grey text color */
    font-style: italic;   /* Italicize text */
    text-align: right;    /* Align text to the right */
}

.connect-block a {
    text-decoration: none; /* Remove underline from links */
    border: none;          /* Remove any border */
}

.social-icon {
    width: 20px;     /* Icon size */
    height: 20px;    /* Icon size */
    margin-left: 5px; /* Space between icons */
    vertical-align: middle; /* Align icons with text */
    display: inline-block; /* Make icons inline-block */
}

